[MESSAGES CONTROL]
disable=line-too-long,
        C0303,
        R0201,
        R1705,
        C0103,
        R0902,
        R0903,
        E1101,
        W1401,
        W0640,
        R0913,
        W0702
