Cython
future
matplotlib
numpy
sphinx
sphinx-autobuild
sphinx_rtd_theme
# Installation of RPI.GPIO fails on Mac.
# This library only works for linux!?
# Just comment out this line
# RPI.GPIO
pycodestyle
nlopt
smbus2
VL53L1X
pyquaternion
pyyaml
flake8
tabulate
rospkg
