Cython
future
matplotlib
torch
numpy
sphinx
sphinx-autobuild
sphinx_rtd_theme
sklearn
# Installation of RPI.GPIO fails on Mac -- the below line is currently commented out
# RPI.GPIO
pycodestyle
nlopt
smbus2
VL53L1X
pyquaternion
pyyaml
flake8
tabulate
rospkg
